html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --main-color-text: #212121;
  --accent-color: #2196f3;
  --second-color-text: #757575;
  --third-color-text: #ffffff;
}

body {
  margin: 0;
  color: var(--main-color-text);
  background-color: #e5e5e5;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: var(--main-color-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/*шапка*/

.header {
  background-color: #ffffff;
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.logo-link .logo-web {
  color: var(--accent-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.header .link-mail:hover,
.header .link-mail:focus {
  color: var(--accent-color);
}

.header .link-tel:hover,
.header .link-tel:focus {
  color: var(--accent-color);
}
.link-mail,
.link-tel {
  color: var(--second-color-text);
}

.nav .link.current {
  color: var(--accent-color);
}

.nav-contakt,
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*Главный контент страницы*/

/*Секция герой*/

.section-heroy {
  margin-bottom: 94px;
}

.section-heroy .hero-title {
  margin-bottom: 40px;

  color: var(--third-color-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--third-color-text);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/*Наши преимущества*/

.section {
  background-color: #e5e5e5;
}

.section-iteams-team {
  width: 270px;
}

.section .section-img {
  margin-top: 25px;
  margin-bottom: 55px;
}

.section-title {
  color: var(--main-color-text);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.section-title.invisible {
  display: none;
}

.section-subtitle {
  margin-bottom: 10px;

  color: var(--main-color-text);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.comand {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-text {
  margin: 0;

  color: var(--second-color-text);

  font-size: 14px;
  line-height: 1.71;
}

.profesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.work-items {
  width: 370px;
  outline: 2px solid white;
}

.title-work {
  margin-bottom: 50px;
}

.work {
  margin: 0;

  background: rgba(47, 48, 58, 0.8);
  color: var(--third-color-text);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.section-title-team {
  margin-bottom: 50px;
  text-align: center;
}

.team-img {
  margin-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team-social {
  text-align: center;
}

/* Клиенты*/

.title-customers {
  margin-bottom: 50px;
}

/*Футер*/

/*Cоц сети*/

.social-list .social-link {
  color: var(--third-color-text);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
}

.address {
  color: var(--third-color-text);

  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.address-items {
  margin-bottom: 9px;
}

.logo-link .logo-studio {
  color: var(--third-color-text);
}

.logo-link-footer {
  margin-bottom: 8px;
}

.address .contact-address {
  color: rgba(255, 255, 255, 0.6);
}

.social {
  color: var(--third-color-text);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.social-text {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.dbr {
  margin-top: 0;
  margin-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;

  text-align: center;
}

/* Портфолио*/

.portfolio {
  background-color: #e5e5e5;
  display: none;
}

.port-button:hover,
.port-button:focus {
  color: #ffffff;
}

.port-button {
  background-color: var(--accent-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.port-title {
  margin-bottom: 4px;

  color: var(--main-color-text);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.port-subtitle {
  margin: 0;

  color: var(--second-color-text);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
}

.port-text {
  margin: 0;

  color: var(--third-color-text);
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
}

.port-list {
  width: 370px;
}

.port-img {
  margin-bottom: 20px;
}
